<!DOCTYPE html>
<html lang="en" ng-app="myApp">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Limitless - Responsive Web Application Kit by Eugene Kopyov</title>

    <!-- Global stylesheets -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,300,100,500,700,900" rel="stylesheet" type="text/css">
    <link href="../../../../static/css/global_css/icons/icomoon/styles.css" rel="stylesheet" type="text/css">
    <link href="../../../../static/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="../../../../static/css/bootstrap_limitless.min.css" rel="stylesheet" type="text/css">
    <link href="../../../../static/css/layout.min.css" rel="stylesheet" type="text/css">
    <link href="../../../../static/css/components.min.css" rel="stylesheet" type="text/css">
    <link href="../../../../static/css/colors.min.css" rel="stylesheet" type="text/css">
    <!-- /global stylesheets -->



</head>

<body data-spy="scroll" data-target=".sidebar-component-right" ng-app="myApp">


    <div ui-view>

    </div>


    <!-- Core JS files -->
    <!-- <script src="assets/js/main/jquery.min.js"></script>
    <script src="assets/js/main/bootstrap.bundle.min.js"></script> -->

    <script src="../../lib/jquery-3.1.0.js"></script>
    <script src="../../lib/global_assets/js/bootstrap.bundle.min.js"></script>

    <!-- /core JS files -->

    <!-- Theme JS files -->
    <script src="../../lib/global_assets/js/plugins/prism.min.js"></script>
    <script src="../../lib/global_assets/js/plugins/sticky.min.js"></script>

    <script src="../../lib/global_assets/js/main/app.js"></script>
    <script src="../../lib/js/pages/components_scrollspy.js"></script>
    <!-- /theme JS files -->

    <!-- angularjs files -->
    <script src="../lib/angular/angular.min.js"></script>
    <script src="../lib/angular/angular-animate.js"></script>
    <script src="../lib/angular/angular-sanitize.js"></script>
    <script src="../lib/angular/angular-touch.js"></script>
    <script src="../lib/angular/angular-route.js"></script>
    <script src="../lib/angular-ui/angular-ui-router.js"></script>
    <script src="../lib/angular/angular-local-storage.min.js"></script>
    <script src="../lib/angular-ui/ui-bootstrap.js"></script>
    <script src="../lib/angular/angular-ui/ui-bootstrap-tpls.js"></script>
    <script src="../lib/angular/angular-resource.js"></script>


    <script src="../controllers/projectController.js"></script>
    <script src="../controllers/userController.js"></script>
    <script src="../modules/sysModule.js"></script>
    <script src="../app.js"></script>
    <!-- /angularjs files -->
</body>

</html>