<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en" ng-app="rootApp">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Limitless - Responsive Web Application Kit by Eugene Kopyov</title>

</head>

<body>

    <ui-view></ui-view>


    <!-- Core JS files -->

    <script src="../../lib/jquery-3.1.0.js"></script>
    <script src="../../lib/global_assets/js/bootstrap.bundle.min.js"></script>

    <!-- /core JS files -->



    <!-- angularjs files -->
    <script src="../lib/angular/angular.min.js"></script>
    <script src="../lib/angular/angular-animate.js"></script>
    <script src="../lib/angular/angular-sanitize.js"></script>
    <script src="../lib/angular/angular-touch.js"></script>
    <script src="../lib/angular/angular-route.js"></script>
    <script src="../lib/angular-ui/angular-ui-router.js"></script>
    <script src="../lib/angular/angular-local-storage.min.js"></script>
    <script src="../lib/angular-ui/ui-bootstrap.js"></script>
    <script src="../lib/angular/angular-ui/ui-bootstrap-tpls.js"></script>
    <script src="../lib/angular/angular-resource.js"></script>
    <script src="../controllers/projectController.js"></script>
    <script src="../controllers/userController.js"></script>
    <script src="../modules/sysModule.js"></script>
    <script src="../app.js"></script>
    <!-- /angularjs files -->
</body>

</html>